:root{
    --caixa-login: rgb(45, 140, 163);
    --btn-color: rgb(255, 255, 255);
    --back-color: rgb(255, 255, 255);
    --back-color-2: rgb(199, 173, 173);
    --box-sombra: 10px 10px 10px black;
    --text-color: rgba(0, 0, 0, 0.74);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--back-color-2);
    font-family: Arial, Helvetica, sans-serif;
}
.caixa{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95vh;
    width: 500px;
    background-color: var(--back-color);
    border-radius: 12px;
    box-shadow: var(--box-sombra);
}
.login{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
}
input{
    border: none;
    width: 380px;
    height: 40px;
    border-radius: 6px ;
    outline: none;
    margin: 10px;
}
input:hover{
    transition: 0.5s;
    transform: translate3d(-10px, -25%, 0em)}
hr{
    width: 390px;
    margin-top: -10px;
}
button{
    width: 250px;
    height: 35px;
    border: none;
    border-radius: 150px;
    cursor: pointer;
    box-shadow: var(--box-sombra);
}
button:hover{
    transform: scale(1.1);
    transition: all 0.1s;
}
footer{
    margin-top: 50px;
    font-size: 20px;
}
.rodape{
    color: blue;
}
.redefinir_senha{
    margin-left: 260px;
    margin-top: 13px;
    text-decoration: none;
}
.creat_acount{
    text-decoration: none;
    margin-top: 30px;
    color: var(--text-color);
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
